html,
body {
  width: 100%;
  padding: 0 !important;
}
h1 {
  margin: 0 !important;
  line-height: 73px !important;
  text-transform: uppercase;
}
.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.row {
  margin-right: 0 !important;
}
.next-btn-disabled {
  opacity: 0.5;
}
.disabled {
  display: none;
}
.capitalize {
  text-transform: capitalize;
}
.capitalize::-webkit-input-placeholder {
  text-transform: none !important;
}
.capitalize::-moz-placeholder {
  text-transform: none !important;
}
.capitalize:-ms-input-placeholder {
  text-transform: none !important;
}
.capitalize::placeholder {
  text-transform: none !important;
}
header.user {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 3vh;
  padding-bottom: 3vh;
  background: #fff;
  z-index: 100;
}
header.user .logo {
  width: 100px;
  height: 16px;
  margin-left: 15%;
  font: 20px 'Roboto Condensed';
  color: #ff7257;
  font-weight: 700;
}
header.user .call-wrapper {
  position: relative;
  float: right;
  margin-right: 5%;
  width: 165px;
  cursor: pointer;
  visibility: hidden;
}
header.user .call-wrapper .phone-icon {
  position: absolute;
  top: -5px;
  right: 0;
  width: 25px;
  height: 26px;
  background: url(/img/14.svg) no-repeat;
}
header.user .call-wrapper span {
  font: 14px 'Roboto Condensed';
  color: #2a324b;
  font-weight: 700;
}
section.step {
  position: relative;
  padding-bottom: 29vh;
  padding-left: 15%;
}
section.step .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 7%;
  height: 73px;
  padding-right: 2%;
  background: #ff7257;
  font: 52px 'Roboto Condensed';
  color: #fff;
  font-weight: 700;
  line-height: 73px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
section.step .main-title {
  margin-bottom: 7.8vh;
}
section.step .main-title h1 {
  font: 52px 'Roboto Condensed';
  color: #2a324b;
  font-weight: 700;
}
section.step .main-title h1 span {
  font: 52px 'Roboto Condensed';
  color: #ff7257;
  font-weight: 700;
}
section.step .main-title .hint {
  display: inline-block;
  margin-top: 15px;
  font: 16px 'Roboto Condensed';
  color: rgba(42, 50, 75, 0.8);
  line-height: 1.1;
  font-weight: 400;
}
section.step .add-friend-btn {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 25px;
  vertical-align: top;
  background: url('/img/plus.svg') no-repeat;
  cursor: pointer;
}
section.step .phone-label {
  font: 32px 'Roboto Condensed';
  color: #2a324b;
  line-height: 1.1;
  font-weight: 400;
  padding-right: 5px;
}
section.step .second-row {
  margin-top: 5vh;
}
section.step .service-item {
  position: relative;
}
section.step .service-item .selected-answer {
  position: absolute;
  top: 45px;
  left: 95px;
  text-transform: capitalize;
}
section.step .service-item .service-title {
  position: relative;
  font: 24px 'Roboto Condensed';
  color: #2a324b;
  font-weight: 700;
  line-height: 40px;
  cursor: pointer;
  vertical-align: top !important;
}
section.step .service-item .service-title:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  left: 0;
  bottom: 0;
  right: auto;
  height: 2px;
  background-color: #ff7257;
  transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1);
}
section.step .service-item .service-title:hover {
  color: #ff7257;
  transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1);
}
section.step .service-item .service-title:hover:after {
  width: 100%;
  left: 0;
}
section.step .service-item img {
  width: 66px;
  height: 66px;
  margin-right: 25px;
}
section.step .service-item ul {
  width: 40%;
  margin-left: 95px;
  margin-top: 10px;
  text-transform: capitalize;
}
section.step .service-item ul li {
  margin-bottom: 5px;
}
section.step .service-item label {
  position: relative;
  cursor: pointer;
  margin-left: 25px;
  font: 14px 'Roboto Condensed';
  color: #2a324b;
  line-height: 1.1;
  font-weight: 400;
}
section.step .service-item label::before,
section.step .service-item label::after {
  position: absolute;
  content: '';
  border-radius: 50%;
}
section.step .service-item label::before {
  width: 15px;
  height: 15px;
  left: -25px;
  border: 1px solid #ff7257;
  border-radius: 2px;
  box-sizing: border-box;
}
section.step .service-item label::after {
  width: 9px;
  height: 9px;
  top: 3px;
  left: -22px;
  border-radius: 2px;
  background: #ff7257;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform 0.28s;
  transition: transform 0.28s;
}
section.step .service-item input[type="radio"] {
  display: none;
}
section.step .service-item input[type="radio"]:checked ~ label::after {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
section.step input.data-field {
  width: 70%;
  border: none;
  outline: none;
  background: #fff;
  font: 32px 'Roboto Condensed';
  color: #2a324b;
  line-height: 1.1;
  font-weight: 400;
  line-height: normal;
}
section.step input[type="submit"] {
  border: none;
  outline: none;
}
section.step input[type="number"] {
  width: 70px;
}
section.step ::-moz-placeholder {
  font: 32px 'Roboto Condensed';
  color: rgba(42, 50, 75, 0.3);
  line-height: 1.1;
  font-weight: 400;
  text-transform: none;
}
section.step .service-wrapper:not(:last-child) {
  margin-bottom: 6vh;
}
section.step .service-wrapper .service-img {
  display: inline-block;
  width: 66px;
  height: 66px;
}
section.step .service-wrapper input {
  display: none;
}
section.step .service-wrapper input:checked ~ label {
  color: #ff7257;
}
section.step .service-wrapper input:checked ~ label:after {
  display: none;
}
section.step .service-wrapper label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 17px;
  margin-left: 25px;
  font: 24px 'Roboto Condensed';
  color: #2a324b;
  font-weight: 700;
  cursor: pointer;
}
section.step .service-wrapper label:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  left: 0;
  bottom: 0;
  right: auto;
  height: 2px;
  background-color: #ff7257;
  transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1);
}
section.step .service-wrapper label:hover {
  color: #ff7257;
  transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1);
}
section.step .service-wrapper label:hover:after {
  width: 100%;
  left: 0;
}
section.step .friend-list {
  margin-bottom: 20px;
}
section.step .friend-list li {
  font: 24px 'Roboto Condensed';
  color: #2a324b;
  line-height: 1.1;
  font-weight: 400;
  margin-bottom: 15px;
}
section.step .next-btn-wrapper {
  width: 190px;
  height: 50px;
  box-sizing: border-box;
  margin-top: 4.7vh;
  border: 2px solid #ff7257;
  border-radius: 5px;
}
section.step .next-btn-wrapper .next-btn {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 48px;
  top: -1px;
  left: -2px;
  border: none;
  outline: none;
  font: 18px 'Roboto Condensed';
  color: #fff;
  font-weight: 700;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #ff7257;
}
section.step .next-btn-wrapper .btn-caption {
  float: right;
  width: 50%;
  height: 46px;
  padding-top: 4px;
}
section.step .next-btn-wrapper .btn-caption span {
  font: 10px 'Roboto Condensed';
  color: #ff7257;
  line-height: 1.1;
  font-weight: 400;
}
section.step .next-btn-wrapper .btn-caption p {
  font: 18px 'Roboto Condensed';
  color: #ff7257;
  font-weight: 700;
}
section.final-step {
  padding-left: 0;
  padding-bottom: 15vh;
}
section.final-step .main-title h1 {
  font: 42px 'Roboto Condensed';
  color: #2a324b;
  font-weight: 700;
}
section.final-step .shape {
  width: 260px;
  height: 65px;
  margin-bottom: 25px;
  border-radius: 5px;
  background: #ff7257;
  font: 24px 'Roboto Condensed';
  color: #fff;
  font-weight: 700;
}
section.final-step .warning {
  font: 12px 'Roboto Condensed';
  color: #2a324b;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: 1px;
}
section.final-step .shape-block {
  width: 100%;
  margin-bottom: 25vh;
}
section.final-step .contract {
  width: 350px;
  height: 350px;
  margin: 0 auto;
  margin-bottom: 40px;
  background: #cfd0d3;
}
section.first-step {
  margin-top: 20vh;
}
.timeline-bar {
  width: 100%;
  height: 80px;
  background: #fff;
  position: fixed;
  bottom: 0;
  z-index: 100;
}
.timeline-bar ul {
  width: 80%;
  margin: 0 auto;
  margin-top: 35px;
}
.timeline-bar .timeline-item {
  position: relative;
  display: inline-block;
  width: 11%;
  height: 20px;
}
.timeline-bar .timeline-item .line {
  position: absolute;
  top: 9px;
  content: '';
  width: 100%;
  height: 2px;
  background: #cfcfcf;
  z-index: 9;
}
.timeline-bar .timeline-item .active-line {
  background: #ff7257;
}
.timeline-bar .timeline-item .point {
  position: absolute;
  top: 0;
  right: -10px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #cfcfcf;
  z-index: 10;
}
.timeline-bar .timeline-item .point-title {
  position: absolute;
  width: 100%;
  top: -30px;
  right: -50%;
  font: 12px 'Roboto Condensed';
  color: #ff7257;
  font-weight: 700;
}
.timeline-bar .timeline-item .first-point-title {
  left: -50%;
}
.timeline-bar .timeline-item .selected:before {
  position: absolute;
  top: 1px;
  left: 1px;
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ff7257;
  z-index: 10;
}
.timeline-bar .timeline-item .active {
  border-color: #ff7257;
  cursor: pointer;
}
.timeline-bar .timeline-item .first-point {
  left: -10px;
  right: auto;
}
.timeline-bar .timeline-item:not(:first-child) {
  margin-left: -4px;
}
.docwell-admin {
  height: 100vh;
  background: #f6f6f6;
}
header.admin {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 3vh;
  padding-bottom: 3vh;
  background: #fff;
  z-index: 100;
}
header.admin .logo {
  float: left;
  width: 130px;
  height: 20px;
  margin-left: 7%;
  background: red;
}
header.admin ul {
  float: left;
  margin-left: 5%;
  margin-bottom: 0;
}
header.admin ul .nav-item {
  display: inline-block;
  margin-right: 60px;
}
header.admin ul a {
  position: relative;
  font: 11px 'Roboto Condensed';
  color: #2a324b;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
}
header.admin ul a .badge {
  position: absolute;
  top: -10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  padding: 0;
  font: 10px 'Roboto Condensed' !important;
  color: #fff !important;
  font-weight: 700 !important;
  line-height: 16px !important;
  background: #ff7257;
}
header.admin ul .active-tab {
  color: #ff7257;
}
header.admin .search-field {
  position: relative;
  float: right;
  width: 235px;
  margin-right: 7%;
}
header.admin .search-field input {
  width: 100%;
  height: 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid #2a324b;
  background: #fff;
  font: 16px 'Roboto Condensed';
  color: #2a324b;
  line-height: 1.1;
  font-weight: 400;
}
header.admin .search-field .search-icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 16px;
  height: 16px;
  background: red;
}
section.main-content {
  padding-top: 14vh;
}
section.main-content .folder {
  width: 100%;
  height: 100%;
  padding-left: 40px;
  padding-top: 35px;
  background: url(/img/card1.svg) no-repeat;
}
section.main-content .folder .date {
  margin-bottom: 20px;
  font: 12px 'Roboto';
  color: #2a324b;
  line-height: 1.1;
  font-weight: 400;
}
section.main-content .folder .name {
  width: 150px;
  font: 22px 'Roboto Condensed';
  color: #2a324b;
  font-weight: 700;
  line-height: 35px;
}
section.main-content .folder-hover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding-left: 40px;
  padding-top: 35px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s linear;
  background: url(/img/card2.svg) no-repeat;
}
section.main-content .folder-hover .phone {
  font: 16px 'Roboto Condensed';
  color: #fff;
  line-height: 1.1;
  font-weight: 400;
  margin-bottom: 25px;
}
section.main-content .folder-hover .country {
  font: 22px 'Roboto Condensed';
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
}
section.main-content .folder-hover .days {
  font: 16px 'Roboto Condensed';
  color: #fff;
  line-height: 1.1;
  font-weight: 400;
  margin-bottom: 40px;
}
section.main-content .folder-hover .details {
  font: 16px 'Roboto Condensed';
  color: #fff;
  font-weight: 700;
}
section.main-content .folder-container {
  margin-bottom: 5vh;
}
@media screen and (min-width: 1600px) {
  section.main-content .folder-container {
    width: 20% !important;
  }
}
section.main-content .folder-wrapper {
  position: relative;
  width: 220px;
  height: 230px;
  margin: 0 auto;
  cursor: pointer;
}
section.main-content .folder-wrapper a {
  outline: none;
  text-decoration: none;
}
section.main-content .folder-wrapper:hover .folder-hover {
  visibility: visible;
  opacity: 1;
}
.contract-icon-wrapper {
  margin-top: 60px;
  margin-bottom: 100px;
}
.contract-icon-wrapper a {
  display: block;
  width: 205px;
  height: 200px;
  margin: 0 auto;
}
.contract-icon-wrapper .contract-icon {
  position: relative;
  height: 100%;
  background: url(/img/contract.svg) no-repeat;
  cursor: pointer;
}
.contract-icon-wrapper .contract-icon:after {
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  text-align: center;
  content: 'Перегляд контракту';
  font: 20px 'Roboto Condensed';
  color: #ff7257;
  font-weight: 700;
}
.contract-icon-wrapper .contract-icon .search-hover-icon {
  position: relative;
  top: 77px;
  left: 93px;
  width: 75px;
  height: 75px;
  background: url(/img/search.svg) no-repeat;
  z-index: 10;
}
#small-dialog {
  background: white;
  padding: 20px 30px;
  width: 80vw;
  height: 80vh;
  margin: 40px auto;
  position: relative;
  overflow: auto;
}
#small-dialog h1 {
  padding-top: 75px;
  font: 60px 'Roboto Condensed';
  color: #ff7257;
  font-weight: 700;
  text-transform: capitalize;
}
#small-dialog span {
  display: inline-block;
  margin-top: 40px;
  font: 12px 'Roboto Condensed';
  color: #02324b;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: 2px;
}
#small-dialog p {
  font: 24px 'Roboto Condensed';
  color: #02324b;
  line-height: 1.1;
  font-weight: 400;
  padding-top: 10px;
}
#small-dialog p span {
  font: 24px 'Roboto Condensed';
  color: #02324b;
  line-height: 1.1;
  font-weight: 400;
  text-decoration: underline;
  margin-top: 10px;
}
.my-mfp-slide-bottom .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-out;
  -webkit-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  transform: translateY(-20px) perspective(600px) rotateX(10deg);
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: translateY(0) perspective(600px) rotateX(0);
  transform: translateY(0) perspective(600px) rotateX(0);
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
  opacity: 0;
  -webkit-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  transform: translateY(-10px) perspective(600px) rotateX(10deg);
}
/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0;
}

/*# sourceMappingURL=app.css.map */
