// Functions

.f(@font-size: 13px, @color: #fff) {
	font: @font-size 'Roboto Condensed';
	color: @color;
	font-weight: 700;
}

.fr(@font-size: 13px, @color: #fff) {
	font: @font-size 'Roboto Condensed';
	color: @color;
	line-height: 1.1;
	font-weight: 400;
}

.fi(@font-size: 13px, @color: #fff) {
	font: @font-size 'Roboto';
	color: @color;
	line-height: 1.1;
	font-weight: 400;
}

// Variables

@main: #2a324b;
@second: #ff7257;


.docwell-admin.contract {
	width: 100%;
    overflow: hidden;
    position: relative;
    top:0px;
    bottom:0px;
    background: #f6f6f6;

	header.admin {
		position: inherit;
		height: 59px;
		display: flex;
		align-items: center;
		background: #fff;

		.logo {
			float: left;
			width: 130px;
			height: 20px;
			margin-left: 7%;
			background: red;
		}

		ul {
			float: left;
			margin-left: 5%;
			margin-bottom: 0;

			.nav-item {
				display: inline-block;
				margin-right: 60px;
			}

			a {
				position: relative;
				.f(11px, @main);
				letter-spacing: 1px;
				text-decoration: none;

				.badge {
					position: absolute;
					top: -10px;
					width: 16px;
					height: 16px;
					border-radius: 50%;
					padding: 0;
					.f(10px, #fff) !important;
					line-height: 16px !important;
					background: @second;
				}
			}

			.active-tab {
				color: @second;
			}
		}

		.search-field {
			position: relative;
			float: right;
			margin-right: 7%;
			margin-left: auto;

			input {
				width: 100%;
				height: 20px;
				outline: none;
				border: none;
				border-bottom: 1px solid @main;
				background: #fff;
				.fr(16px, @main);
			}

			.search-icon {
				position: absolute;
				right: 0;
				top: 0;
				width: 16px;
				height: 16px;
				background: red;
			}
		}
	}
	.container-fluid.contract-page {
		padding-left: 0;

		.questions-block {
			max-width: 365px;
			position: relative;

			&.edit-question {
				display: none;

				.questions-container {
					padding-left: 15px;
					box-sizing: border-box;
					-webkit-box-sizing: border-box;

					.question {
						margin-bottom: 	15px;

						h1 {
							color: @main;
							font-size: 	12px;
							font-family: 'Roboto', sans-serif;
							line-height: 2.5;
    						letter-spacing: 0.2em;
						}
						input:focus,
						textarea:focus {
							outline: none;
						}
						input[name=question-name] {
							background: none;
	   						border: none;
	   						width: 100%;
	    					border-bottom: 1px solid #cdcfd4;
	    					font-size: 18px;
	    					font-family: 'Roboto', sans-serif;
	    					color: @main;
	    					padding-bottom: 3px;
	    					box-sizing: border-box;	
	    					-webkit-box-sizing: border-box;
	    					margin-bottom: 5px;
						}
						input[name=question-comment] {
							font-family: 'Roboto', sans-serif;
							font-size: 12px;
							color: @main;
							background: none;
    						border: none;
						}

						input[type=radio] {
							margin-bottom: 	11px;
						}

						input[type=radio] + label {
							display: inline-block;
							color: @main;
							font-size: 	14px;
							font-family: 'Roboto', sans-serif;
							font-weight: 400;
							padding-left: 6px;
							width: 	150px;
						}

						input[type=radio]:checked + label {
							color: @second;
						}  

						input[name=required-answer] {
							margin-bottom: 15px;
    						margin-top: 5px;
						}

						input[name=required-answer] + label {
							width: 	auto;
						}

						.variants-block {
							.variant {
								.remove-variant {
									display: inline-block;
									width: 16px;
									height: 11px;
									background: url('/img/hamburger1.svg');
									border: none;

									&:focus {
										outline: none;
									}
								}
								img.thumb {
									width: 32px;
									height: 32px;
									display: inline-block;
									position: relative;
									top: 10px;
									margin: 0 8px;
								}
								a.thumb {
									width: 24px;
									height: 24px;
									display: inline-block;
									border: none;
									background: url('/img/addthumb.png');
									position: relative;
									top: 6px;
									margin: 0 12px;
								}
								.edit {
									width: 12px;
									height: 12px;
									background: url('/img/edit1.svg');
									border: none;
									display: inline-block;
									margin-right: 8px;

									&:focus {
										outline: none;
									}
								}
								.remove {
									width: 12px;
									height: 13px;
									display: inline-block;
									background: url('/img/cart.png');
									border: none;

									&:focus {
										outline: none;
									}
								}
								.variant-name {
									background: none;
									color: @main;
									font-family: 'Roboto', sans-serif;
									font-size: 16px;
									font-weight: 400;
									box-sizing: border-box;
									-webkit-box-sizing: border-box;
									border: none;
									text-transform: uppercase;
									width: 67.5%;
									margin-bottom: 5px;
								}

								.confirm-field {
									display: none;
									width: 13px;
									height: 13px;
									background: url('/img/bird.svg') no-repeat;
									margin-left: -13px;
								}

								.variant-name:focus {
									border-bottom: 1px solid @second;
								}

								.variant-name:focus + .confirm-field {
									display:inline-block;
								}

								.subvariant {
									margin-left: 63px;
									input {
										width: 91%;
										background: none;
										font-family: 'Roboto', sans-serif;
										font-size: 14px;
										color: @main;
										border: none;

										&:focus {
											border-bottom: 1px solid #cdcfd4;
										}
									}

									.addsubvariant {
										font-family: 'Roboto', sans-serif;
										color: @main;
										font-size: 12px;
										position: relative;
										margin-top: 10px;
										margin-left: 19px;
										cursor: pointer;

										&:before {
											content: '';
											width: 15px;
											height: 15px;
											display: block;
											position: absolute;
											background: url('/img/add.png');
											background-size: cover;
   											top: -2px;
    										left: -20px;
										}
									}
								}
							}
						}

						.addvariant {
							font-size: 18px;
							font-family: 'Roboto', sans-serif;
							color: @main;
							position: relative;
							margin-left: 29px;
							margin-top: 19px;
							cursor: pointer;

							&:before {
								content: '';
								width: 20px;
								height: 20px;
								position: absolute;
								left: -30px;
								top: 0;
								background: url('/img/add.png');
								background-size: contain;
							}
						}
					}


					.fill-field-form {
						display: none;
					}
					// Temp
				}
			}

			.close-question {
				display: block;
				width: 15px;
				height: 15px;
				background: url('/img/close3.svg') no-repeat;
				position: absolute;
				top: 19px;
    			right: 15px;
    			opacity: 0.8;
    			cursor: pointer;

    			&:hover {
    				opacity: 1;
    			}
			}		    
			
			.title {
			    height: 54px;
			    display: block;
			    background: #ff715b;
			    padding-left: 15px;
				line-height: 55px;
		    	text-transform: uppercase;
		    	font-family:'Roboto Condensed', sans-serif;
		    	font-size: 16px;
		    	font-weight: 600;
		    	color: #fff;
			}

			.listing-container {
			    padding-top: 19px;
			    height: 70vh;
			    overflow-x: hidden;
			    overflow-y: auto;

				.sortcontainer {
					padding-left: 15px;
					counter-reset: list 0;
					list-style-type: none;
					font-size: 14px;
					font-family:'Roboto Condensed', sans-serif;
					font-weight: 600;
					text-transform: uppercase;
					color: @main;

					a {
						display: block;
						width: 100%;
						color: inherit;
						text-decoration: none;
					}

					li {
						padding-top: 5px;
						padding-bottom: 5px;
						line-height: 1.5;
						padding-left: 30px;
					}
					
					li.item {
						cursor: move;
						position: relative;
						background: url("/img/drag.svg") 2px 50% no-repeat;
						background-size: 16px 7px;

						&:hover {
							background: url("/img/draghover.svg") 2px 50% no-repeat;
							background-size: 16px 7px;
						}

						.submit {
							width: 13px;
							height: 13px;
							position: absolute;
						    top: 9px;
							right: 11px;
							background: url('/img/confirm.png');
							display: none;
								
						}
					}

					.item.nondraggable {
						background: none;
						cursor: auto;
					}

					li.item:hover {
						color: #ff715a;
					}

					li.item.nondraggable:hover {
						color: initial;
					}

					li:before {
						counter-increment: list; /* Увеличиваем значение счетчика */
						content: counter(list) ". "; /* Выводим число */
					}
				}
				#add-question {
					width: 150px;
					height: 25px;
					background: url('/img/add.png') no-repeat;
					padding-left: 35px;
					margin-left: 45px;
					margin-top: 10px;
					line-height: 25px;
					font-family: 'Roboto', sans-serif;
					font-size: 14px;
					color: #2a324b;
					cursor: pointer;
				}
			}
		}


		a.choose-question:target {
			display: block;
		}

		.folder-container {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;

			.contract {
				width: 93%;
				max-width: 820px;
				height: 80vh;
				background-color: #fff;
				margin-top: 30px;
				overflow-y: auto;
			}
		}
	}
}

.questions-block {
	max-width: 365px;
	position: relative;
}

.questions-container {
	padding-left: 15px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;

	.question {
		margin-bottom: 	15px;

		h1 {
			color: @main;
			font-size: 	12px;
			font-family: 'Roboto', sans-serif;
			line-height: 2.5;
			letter-spacing: 0.2em;
		}
		input:focus,
		textarea:focus {
			outline: none;
		}
		input[name=question-name] {
			background: none;
				border: none;
				width: 100%;
			border-bottom: 1px solid #cdcfd4;
			font-size: 18px;
			font-family: 'Roboto', sans-serif;
			color: @main;
			padding-bottom: 3px;
			box-sizing: border-box;	
			-webkit-box-sizing: border-box;
			margin-bottom: 5px;
		}
		input[name=question-comment] {
			font-family: 'Roboto', sans-serif;
			font-size: 12px;
			color: @main;
			background: none;
			border: none;
		}

		input[type=radio] {
			margin-bottom: 	11px;
		}

		input[type=radio] + label {
			display: inline-block;
			color: @main;
			font-size: 	14px;
			font-family: 'Roboto', sans-serif;
			font-weight: 400;
			padding-left: 6px;
			width: 	150px;
		}

		input[type=radio]:checked + label {
			color: @second;
		}  

		input[name=required-answer] {
			margin-bottom: 15px;
			margin-top: 5px;
		}

		input[name=required-answer] + label {
			width: 	auto;
		}

		.variants-block {
			.variant {
				.remove-variant {
					display: inline-block;
					width: 16px;
					height: 11px;
					background: url('/img/hamburger1.svg');
					border: none;

					&:focus {
						outline: none;
					}
				}
				img.thumb {
					width: 32px;
					height: 32px;
					display: inline-block;
					position: relative;
					top: 10px;
					margin: 0 8px;
				}
				a.thumb {
					width: 24px;
					height: 24px;
					display: inline-block;
					border: none;
					background: url('/img/addthumb.png');
					position: relative;
					top: 6px;
					margin: 0 12px;
				}
				.edit {
					width: 12px;
					height: 12px;
					background: url('/img/edit1.svg');
					border: none;
					display: inline-block;
					margin-right: 8px;

					&:focus {
						outline: none;
					}
				}
				.remove {
					width: 12px;
					height: 13px;
					display: inline-block;
					background: url('/img/cart.png');
					border: none;

					&:focus {
						outline: none;
					}
				}
				.variant-name {
					background: none;
					color: @main;
					font-family: 'Roboto', sans-serif;
					font-size: 16px;
					font-weight: 400;
					box-sizing: border-box;
					-webkit-box-sizing: border-box;
					border: none;
					text-transform: uppercase;
					width: 67.5%;
					margin-bottom: 5px;
				}

				.confirm-field {
					display: none;
					width: 13px;
					height: 13px;
					background: url('/img/bird.svg') no-repeat;
					margin-left: -13px;
				}

				.variant-name:focus {
					border-bottom: 1px solid @second;
				}

				.variant-name:focus + .confirm-field {
					display:inline-block;
				}

				.subvariant {
					margin-left: 63px;
					input {
						width: 91%;
						background: none;
						font-family: 'Roboto', sans-serif;
						font-size: 14px;
						color: @main;
						border: none;

						&:focus {
							border-bottom: 1px solid #cdcfd4;
						}
					}

					.addsubvariant {
						font-family: 'Roboto', sans-serif;
						color: @main;
						font-size: 12px;
						position: relative;
						margin-top: 10px;
						margin-left: 19px;
						cursor: pointer;

						&:before {
							content: '';
							width: 15px;
							height: 15px;
							display: block;
							position: absolute;
							background: url('/img/add.png');
							background-size: cover;
								top: -2px;
							left: -20px;
						}
					}
				}
			}
		}

		.addvariant {
			font-size: 18px;
			font-family: 'Roboto', sans-serif;
			color: @main;
			position: relative;
			margin-left: 29px;
			margin-top: 19px;
			cursor: pointer;

			&:before {
				content: '';
				width: 20px;
				height: 20px;
				position: absolute;
				left: -30px;
				top: 0;
				background: url('/img/add.png');
				background-size: contain;
			}
		}
	}


	.fill-field-form {
		display: none;
	}
	// Temp
}


form {
	display: inline;
}

input {
	text-transform: uppercase;
	width: auto;
	background: none;
	width: 85%;
	border: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

input:focus {
	outline: none;
	border-bottom: 1px solid @second;
}

input:focus + .submit {
	display: block;
}