// Functions

.f(@font-size: 13px, @color: #fff) {
	font: @font-size 'Roboto Condensed';
	color: @color;
	font-weight: 700;
}

.fr(@font-size: 13px, @color: #fff) {
	font: @font-size 'Roboto Condensed';
	color: @color;
	line-height: 1.1;
	font-weight: 400;
}

.fi(@font-size: 13px, @color: #fff) {
	font: @font-size 'Roboto';
	color: @color;
	line-height: 1.1;
	font-weight: 400;
}

// Variables

@main: #2a324b;
@second: #ff7257;



// Common style

html, body {
	width: 100%;
	padding: 0 !important;
}

h1 {
	margin: 0 !important;
	line-height: 73px !important;
	text-transform: uppercase;
}

.no-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.row {
	margin-right: 0 !important;
}

.next-btn-disabled {
	opacity: 0.5;
}

.disabled {
	display: none;
}

.capitalize {
	text-transform: capitalize;

	&::placeholder {
		text-transform: none !important;
	}
}

// user

header.user {
	position: fixed;
	top: 0;
	width: 100%;
	padding-top: 3vh;
	padding-bottom: 3vh;
	background: #fff;
	z-index: 100;

	.logo {
		width: 100px;
		height: 16px;
		margin-left: 15%;
		.f(20px, @second);
	}

	.call-wrapper {
		position: relative;
		float: right;
		margin-right: 5%;
		width: 165px;
		cursor: pointer;
		visibility: hidden;

		.phone-icon	{
			position: absolute;
			top: -5px;
			right: 0;
			width: 25px;
			height: 26px;
			background: url(/img/14.svg) no-repeat;
		}

		span {
			.f(14px, @main);
		}
	}
}

section.step {
	position: relative;
	padding-bottom: 29vh;
	padding-left: 15%;

	.number {
		position: absolute;
		top: 0;
		left: 0;
		width: 7%;
		height: 73px;
		padding-right: 2%;
		background: @second;
		.f(52px, #fff);
		line-height: 73px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	.main-title {
		margin-bottom: 7.8vh;

		h1 {
			.f(52px, @main);

			span {
				.f(52px, @second);
			}
		}

		.hint {
			display: inline-block;
			margin-top: 15px;
			.fr (16px, rgba(42, 50, 75, .8));
		}
	}

	.add-friend-btn {
		display: inline-block;
		width: 35px;
		height: 35px;
		margin-right: 25px;
		vertical-align: top;
		background: url('/img/plus.svg') no-repeat;
		cursor: pointer;
	}

	.phone-label {
		.fr(32px, @main);
		padding-right: 5px;
	}

	.second-row {
		margin-top: 5vh;
	}

	.service-item {
		position: relative;

		.selected-answer {
			position: absolute;
			top: 45px;
			left: 95px;
			text-transform: capitalize;
		}

		.service-title {
			position: relative;
			.f(24px, @main);
			line-height: 40px;
			cursor: pointer;
			vertical-align: top !important;

			&:after {
				content: '';
				position: absolute;
				display: block;
				width: 0;
				left: 0;
				bottom: 0;
				right: auto;
				height: 2px;
				background-color: @second;
				transition: all 550ms cubic-bezier(.23,1,.32,1);
			}

			&:hover {
				color: @second;
				transition: all 550ms cubic-bezier(.23,1,.32,1);

				&:after {
					width: 100%;
					left: 0;
				}
			}
		}
		
		img {
			width: 66px;
			height: 66px;
			margin-right: 25px;
		}

		ul {
			width: 40%;
			margin-left: 95px;
			margin-top: 10px;
			text-transform: capitalize;

			li {
				margin-bottom: 5px;
			}
		}

		label {
		    position: relative;
		    cursor: pointer;
		    margin-left: 25px;
		    .fr(14px, @main);
		}

		label::before,
		label::after {
		    position: absolute;
		    content: '';
		    border-radius: 50%;
		}

		label::before {
		    width: 15px;
			height: 15px;
			left: -25px;
			border: 1px solid @second;
			border-radius: 2px;
			box-sizing: border-box;
		}

		label::after {
			width: 9px;
			height: 9px;
			top: 3px;
			left: -22px;
			border-radius: 2px;
			background: @second;
		    transform: scale(0);
		    transition: transform 0.28s;
		}

		input[type="radio"] {
		    display: none;
		}

		input[type="radio"]:checked ~ label::after {
		    transform: scale(1.1)
		}
	}

	input.data-field {
		width: 70%;
		border: none;
		outline: none;
		background: #fff;
		.fr(32px, @main);
		line-height: normal;
	}

	input[type="submit"] {
		border: none;
		outline: none;
	}

	input[type="number"] {
		width: 70px;
	}

	::-moz-placeholder {
		.fr(32px, rgba(42, 50, 75, .3));
		text-transform: none;
	}

	.service-wrapper:not(:last-child) {
		margin-bottom: 6vh;
	}

	.service-wrapper {
		
		.service-img {
			display: inline-block;
			width: 66px;
			height: 66px;
		}

		input {
			display: none;
		}

		input:checked ~ label {
			color: @second;

			&:after {
				display: none;
			}
		}

		label {
			position: relative;
			display: inline-block;
			vertical-align: top;
			margin-top: 17px;
			margin-left: 25px;
			.f(24px, @main);
			cursor: pointer;

				&:after {
				content: '';
				position: absolute;
				display: block;
				width: 0;
				left: 0;
				bottom: 0;
				right: auto;
				height: 2px;
				background-color: @second;
				transition: all 550ms cubic-bezier(.23,1,.32,1);
			}

			&:hover {
				color: @second;
				transition: all 550ms cubic-bezier(.23,1,.32,1);

				&:after {
					width: 100%;
					left: 0;
				}
			}
		}
	}

	.friend-list {
		margin-bottom: 20px;

		li {
			.fr(24px, @main);
			margin-bottom: 15px;
		}
	}

	.next-btn-wrapper {
		width: 190px;
		height: 50px;
		box-sizing: border-box;
		margin-top: 4.7vh;
		border: 2px solid @second;
		border-radius: 5px;

		.next-btn {
			position: relative;
			display: inline-block;
			width: 50%;
			height: 48px;
			top: -1px;
			left: -2px;
			border: none;
			outline: none;
			.f(18px, #fff);
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			background: @second;
		}

		.btn-caption {
			float: right;
			width: 50%;
			height: 46px;
			padding-top: 4px;

			span {
				.fr(10px, @second);
			}

			p {
				.f(18px, @second);
			}
		}
	}
}

section.final-step {
	padding-left: 0;
	padding-bottom: 15vh;

	.main-title h1 {
		.f(42px, @main);
	}

	.shape {
		width: 260px;
		height: 65px;
		margin-bottom: 25px;
		border-radius: 5px;
		background: @second;
		.f(24px, #fff);
	}

	.warning {
		.fr(12px, @main);
		letter-spacing: 1px;
	}

	.shape-block {
		width: 100%;
		margin-bottom: 25vh;
	}

	.contract {
		width: 350px;
		height: 350px;
		margin: 0 auto;
		margin-bottom: 40px;
		background: #cfd0d3;
	}
}

section.first-step {
	margin-top: 20vh;


}

.timeline-bar {
	width: 100%;
	height: 80px;
	background: #fff;
	position: fixed;
	bottom: 0;
	z-index: 100;
	
	ul {
		width: 80%;
		margin: 0 auto;
		margin-top: 35px;
	}

	.timeline-item {
		position: relative;
		display: inline-block;
		width: 11%;
		height: 20px;

		.line {
			position: absolute;
			top: 9px;
			content: '';
			width: 100%;
			height: 2px;
			background: #cfcfcf;
			z-index: 9;
		}

		.active-line {
			background: @second;
		}

		.point {
			position: absolute;
			top: 0;
			right: -10px;
			width: 20px;
			height: 20px;
			background: #fff;
			border-radius: 50%;
			border: 2px solid #cfcfcf;
			z-index: 10;
		}

		.point-title {
			position: absolute;
			width: 100%;
			top: -30px;
			right: -50%;
			.f(12px, @second);
		}

		.first-point-title {
			left: -50%;
		}

		.selected {
			&:before {
				position: absolute;
				top: 1px;
				left: 1px;
				content: '';
				width: 14px;
				height: 14px;
				border-radius: 50%;
				background: @second;
				z-index: 10;
			}
		}

		.active {
			border-color: @second;
			cursor: pointer;
		}

		.first-point {
			left: -10px;
			right: auto;
		}
	}

	.timeline-item:not(:first-child) {
		margin-left: -4px;
	}
}

// admin

.docwell-admin {
	height: 100vh;
	background: #f6f6f6;
}

header.admin {
	position: fixed;
	top: 0;
	width: 100%;
	padding-top: 3vh;
	padding-bottom: 3vh;
	background: #fff;
	z-index: 100;

	.logo {
		float: left;
		width: 130px;
		height: 20px;
		margin-left: 7%;
		background: red;
	}

	ul {
		float: left;
		margin-left: 5%;
		margin-bottom: 0;

		.nav-item {
			display: inline-block;
			margin-right: 60px;
		}

		a {
			position: relative;
			.f(11px, @main);
			letter-spacing: 1px;
			text-decoration: none;

			.badge {
				position: absolute;
				top: -10px;
				width: 16px;
				height: 16px;
				border-radius: 50%;
				padding: 0;
				.f(10px, #fff) !important;
				line-height: 16px !important;
				background: @second;
			}
		}

		.active-tab {
			color: @second;
		}
	}

	.search-field {
		position: relative;
		float: right;
		width: 235px;
		margin-right: 7%;

		input {
			width: 100%;
			height: 20px;
			outline: none;
			border: none;
			border-bottom: 1px solid @main;
			background: #fff;
			.fr(16px, @main);
		}

		.search-icon {
			position: absolute;
			right: 0;
			top: 0;
			width: 16px;
			height: 16px;
			background: red;
		}
	}
}

section.main-content {
	padding-top: 14vh;

	.folder {
		width: 100%;
		height: 100%;
		padding-left: 40px;
		padding-top: 35px;
		background: url(/img/card1.svg) no-repeat;

		.date {
			margin-bottom: 20px;
			.fi(12px, @main);
		}

		.name {
			width: 150px;
			.f(22px, @main);
			line-height: 35px;
		}
	}

	.folder-hover {
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		padding-left: 40px;
		padding-top: 35px;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.2s linear;
		background: url(/img/card2.svg) no-repeat;

		.phone {
			.fr(16px, #fff);
			margin-bottom: 25px;
		}

		.country {
			.f(22px, #fff);
			margin-bottom: 10px;
		}

		.days {
			.fr(16px, #fff);
			margin-bottom: 40px;
		}

		.details {
			.f(16px, #fff);
		}
	}

	.folder-container {
		margin-bottom: 5vh;

		@media screen and (min-width: 1600px) {
			width: 20% !important;
		};
	}

	.folder-wrapper {
		position: relative;
		width: 220px;
		height: 230px;
		margin: 0 auto;
		cursor: pointer;

		a {
			outline: none;
			text-decoration: none;
		}

		&:hover {
			.folder-hover {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}

// admin popup

.contract-icon-wrapper {
	margin-top: 60px;
	margin-bottom: 100px;

	a {
		display: block;
		width: 205px;
		height: 200px;
		margin: 0 auto;
	}
	
	.contract-icon {
		position: relative;
		height: 100%;
		background: url(/img/contract.svg) no-repeat;
		cursor: pointer;

		&:after {
			position: absolute;
			bottom: -40px;
			left: 0;
			width: 100%;
			text-align: center;
			content: 'Перегляд контракту';
			.f(20px, @second);
		}

		.search-hover-icon {
			position: relative;
			top: 77px;
			left: 93px;
			width: 75px;
			height: 75px;
			background: url(/img/search.svg) no-repeat;
			z-index: 10;
		}
	}
}

#small-dialog {
	background: white;
	padding: 20px 30px;
	width: 80vw;
	height: 80vh;
	margin: 40px auto;
	position: relative;
	overflow: auto;

	h1 {
		padding-top: 75px;
		.f(60px, @second);
		text-transform: capitalize;
	}

	span {
		display: inline-block;
		margin-top: 40px;
		.fr(12px, #02324b);
		letter-spacing: 2px;
	}

	p {
		.fr(24px, #02324b);
		padding-top: 10px;

		span {
			.fr(24px, #02324b);
			text-decoration: underline;
			margin-top: 10px;
		}
	}
}

.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-o-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;

	-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;

	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}